<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Conn" value="Provider=SQLOLEDB.1;Persist Security Info=False;Integrated Security=SSPI;Initial Catalog=Pcces;Data Source=ug912-1\sqlexpress;Connect Timeout=30" />
    <add key="ServerName" value="localhost" />
    <add key="CanChangeDataBase" value="true" />
    <add key="UseSystemLog" value="True" />
    <add key="SystemLogMode" value="Roughly" />
    <add key="UseNewChangDataBase" value="True" />
    <add key="UseNewMrsB" value="true" />
    <add key="UseNewMrsBNo" value="false" />
    <add key="AutoNumCustom" value="false" />
    <add key="AutoNumEdit" value="false" />
    <add key="OptionSet" value="true" />
    <add key="PrintSChar" value="=(),，" />
    <add key="cPrintSChar" value="0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ." />
    <add key="UseNewAutoNum" value="true" />
    <add key="NewReportFormat" value="true" />
    <add key="EnableMasterSlave" value="false" />
    <add key="EnableUserDefineConnectionStringMode" value="true" />
    <add key="UseCostStructure" value="false" />
    <add key="EnableBudgetChange" value="false" />
    <add key="EnableFullMrsCalculate" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="Pcces" connectionString="Persist Security Info=False;Integrated Security=SSPI;Initial Catalog=Pcces;Data Source=ug912-1\sqlexpress;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
</configuration>
